@using System.Globalization
@using PagedList.Core.Mvc
@model FoundersPC.Web.Domain.Common.Entrances.EntrancesViewModel

@{
    ViewData["Title"] = "Entrances";
    Layout = "~/Views/Shared/_Layout.cshtml";
@section Styles {
    <link
        href='~/css/table.css'
        rel='stylesheet'>
}}

<div
    class='table-wrapper'>
    @{
        if (Model.IsDatePickerRequired) {
            <div
                class="p-2 table-title">
                <div
                    class="container-fluid">
                    <form
                        asp-action='EntrancesBetween'
                        asp-controller='Admin'>
                        <div
                            class="form-group input-group">
                            <input
                                asp-for='BetweenFilter.Start'
                                class="bg-secondary form-control text-light"
                                max="@(DateTime.Now.ToString("yyyy-MM-dd"))"
                                min="2021-01-01"
                                placeholder="Date"
                                required
                                type="date"
                                value='@(DateTime.Now.ToString("yyyy-MM-dd"))'>
                            <input
                                asp-for='BetweenFilter.Finish'
                                class="bg-secondary form-control text-light"
                                max="@(DateTime.Now.ToString("yyyy-MM-dd"))"
                                min="2021-01-01"
                                required
                                type="date"
                                value='@(DateTime.Now.ToString("yyyy-MM-dd"))'>
                            <input
                                class='btn btn-outline-primary text-light'
                                type='submit'
                                value='Filter by date'>
                        </div>
                    </form>
                </div>
            </div>
        }
    }
    <div
        class='table-responsive-xxl text-center'>
        <table
            class='table table-bordered table-hover text-light'>
            <thead>
            <tr
                class='table-title'>
                <th>
                    Id
                </th>
                <th>
                    UserId
                </th>
                <th>
                    Entrance Datetime
                </th>
            </tr>
            </thead>
            <tbody>
            @{
                foreach (var entrance in Model.IndexModel.PagedList) {
                    <tr>
                        <td>
                            @entrance.Id
                        </td>
                        <td>
                            @entrance.UserId
                        </td>
                        <td>
                            @entrance.Entrance.ToString("f", CultureInfo.InvariantCulture)
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
        @{
            if (Model.IndexModel.IsPaginationNeeded) {
                <pager
                    asp-action="EntrancesTable"
                    asp-controller="Admin"
                    class="d-flex justify-content-center"
                    list="@Model.IndexModel.PagedList"
                    options="@PagedListRenderOptions.Bootstrap4Full"
                    param-page-number='pageNumber'/>
            }
        }
    </div>
</div>