@model FoundersPC.Web.Domain.Common.IndexViewModel<FoundersPC.Identity.Dto.AccessTokenLogReadDto>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
@section Styles {
    <link
        href="~/css/table.css"
        rel="stylesheet"/>
}


}

<div
    class='mt-5 table-wrapper'>
    <div class='table-responsive-lg table-responsive-md table-responsive-sm table-responsive-xl table-responsive-xxl'>
        <table class='mt-5 table table-bordered table-hover text-center text-light'>
            <thead>
                <tr class='table-title'>
                    <th>Id</th>
                    <th>User Id</th>
                    <th>Token Id</th>
                    <th>Request DateTime</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var log in Model.Models)
                    {
                        <tr>
                            <th>@log.Id</th>
                            <th>@log.UserId</th>
                            <th>@log.TokenId</th>
                            <th>@log.RequestDateTime</th>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @{
            if (Model.IsPaginationNeeded)
            {
                <nav>
                    <ul class="justify-content-center pagination">
                        <li class="page-item @(Html.Raw(Model.Page.HasPreviousPage ? String.Empty : "disabled"))">
                            <a aria-disabled='@(!Model.Page.HasPreviousPage)'
                               asp-action='TokensLogsTable'
                               asp-controller='Admin'
                               asp-route-pageNumber='@(Model.Page.CurrentPageNumber - 1)'
                               class="bg-light page-link">
                                Previous
                            </a>
                        </li>
                        <li class="page-item @(Html.Raw(Model.Page.HasNextPage ? String.Empty : "disabled"))">
                            <a aria-disabled='@(!Model.Page.HasNextPage)'
                               asp-action='TokensLogsTable'
                               asp-controller='Admin'
                               asp-route-pageNumber='@(Model.Page.CurrentPageNumber + 1)'
                               class="bg-light page-link">
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>
            }
        }
    </div>
</div>


@section Scripts
{
    <script>
        $(document).ready(function () { $(".simple-popup").hover(function () { $(this).toggleClass('show'); }); });
    </script>
}