@using PagedList.Core.Mvc
@model FoundersPC.Web.Domain.Common.IndexViewModel<FoundersPC.Identity.Dto.AccessTokenLogReadDto>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
@section Styles {
    <link
        href="~/css/table.css"
        rel="stylesheet"/>
}


}

<div
    class='mt-5 table-wrapper'>
    <div class='table-responsive-lg table-responsive-md table-responsive-sm table-responsive-xl table-responsive-xxl'>
        <table class='mt-5 table table-bordered table-hover text-center text-light'>
            <thead>
                <tr class='table-title'>
                    <th>Id</th>
                    <th>User Id</th>
                    <th>Token Id</th>
                    <th>Request DateTime</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var log in Model.PagedList)
                    {
                        <tr>
                            <th>@log.Id</th>
                            <th>@log.UserId</th>
                            <th>@log.TokenId</th>
                            <th>@log.RequestDateTime</th>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @{
            if (Model.IsPaginationNeeded)
            {
                <pager class="pager-container d-flex justify-content-center"
                       asp-action="TokensLogsTable"
                       asp-controller="Admin"
                       param-page-number='pageNumber'
                       list="@Model.PagedList"
                       options="@PagedListRenderOptions.Bootstrap4Full" />
            }
        }
    </div>
</div>


@section Scripts
{
    <script>
        $(document).ready(function () { $(".simple-popup").hover(function () { $(this).toggleClass('show'); }); });
    </script>
}