@{
    Layout = "_Layout";
@section Styles {
    <link
        href="~/css/pricing.css"
        rel="stylesheet">
    <link
        href="~/css/neon-btn-styles.css"
        rel="stylesheet">
}


}

<div
    class='container-slider'>
<div
    class='pricing-slider'>
<div
    class='price-box price-box-low'>
    <div
        class='bg'>
    </div>
    <div
        class='details'>
        <h1 >Low</h1>
        <p>
            Initial option. For mere pennies, you can evaluate our service.
            <hr
                class='hr-runner'/>
            <h3>
                Access:
                <span
                    class='text-danger text-decoration-underline text-uppercase'>
                    2 months
                </span>
            </h3>
        </p>
        <a
            class='btn btn-neon float-end neon-pink neon-stripes'
            href='@GetLinkForBuyButton("Low")'>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Check Now
        </a>
    </div>

    <div
        class='price-card-illustration'>
        <div
            class='align-items-center d-flex inner justify-content-center text-center'>
            <h1
                class='display-1 text-white translate-middle-x'>
                $299
            </h1>
        </div>
    </div>
</div>


<div
    class='price-box price-box-medium'>
    <div
        class='bg'>
    </div>
    <div
        class='details'>
        <h1
            class='mt-5'>
            Medium
        </h1>
        <p>
            For those who have already tried our service, but are not ready to pay more.
            <hr
                class='hr-runner'/>
            <h3>
                Access:
                <span
                    class='text-danger text-decoration-underline text-uppercase'>
                    6 month
                </span>
            </h3>
        </p>
        <a
            class='btn btn-neon float-end neon-blue neon-stripes'
            href='@GetLinkForBuyButton("Medium")'>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Check Now
        </a>
    </div>

    <div
        class='price-card-illustration'>
        <div
            class='align-items-center d-flex inner justify-content-center text-center'>
            <h1
                class='display-1 text-white translate-middle-x'>
                $599
            </h1>
        </div>
    </div>
</div>

<div
    class='price-box price-box-high'>
    <div
        class='bg'>
    </div>
    <div
        class='details'>
        <h1
            class='mt-5'>
            High
        </h1>
        <p>
            Suitable for small startups.
            <hr
                class='hr-runner'/>
            <h3>
                Access:
                <span
                    class='text-danger text-decoration-underline text-uppercase'>
                    2 years
                </span>
            </h3>
        </p>
        <a
            class='btn btn-neon float-end neon-green neon-stripes'
            href='@GetLinkForBuyButton("High")'>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Check Now
        </a>
    </div>

    <div
        class='price-card-illustration'>
        <div
            class='align-items-center d-flex inner justify-content-center text-center'>
            <h1
                class='display-1 text-white translate-middle-x'>
                $2199
            </h1>
        </div>
    </div>
</div>

<div
    class='price-box price-box-ultra'>
    <div
        class='bg'>
    </div>
    <div
        class='details'>
        <h1
            class='mt-5'>
            Ultra
        </h1>
        <p>
            Have you been on your feet for a long time? Then this option is yours.
            <hr
                class='hr-runner'/>
            <h3>
                Access:
                <span
                    class='text-danger text-decoration-underline text-uppercase'>
                    5 years
                </span>
            </h3>
        </p>
        <a
            class='btn btn-neon float-end neon-orange neon-stripes'
            href='@GetLinkForBuyButton("Ultra")'>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Check Now
        </a>
    </div>

    <div
        class='price-card-illustration'>
        <div
            class='align-items-center d-flex inner justify-content-center text-center'>
            <h1
                class='display-1 text-white translate-middle-x'>
                $5999
            </h1>
        </div>
    </div>
</div>

<div
    class='price-box price-box-unstoppable'>
    <div
        class='bg'>
    </div>
    <div
        class='details'>
        <h1
            class='mt-5'>
            Unstoppable
        </h1>
        <p>
            Option for those who want only the best.
            <hr
                class='hr-runner'/>
            <h3>
                Access:
                <span
                    class='text-danger text-decoration-underline text-uppercase'>
                    FOREVER
                </span>
            </h3>
        </p>
        <a
            class='btn btn-neon float-end neon-stripes neon-violet'
            href='@GetLinkForBuyButton("Unstoppable")'>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Check Now
        </a>
    </div>

    <div
        class='price-card-illustration'>
        <div
            class='align-items-center d-flex inner justify-content-center text-center'>
            <h1
                class='display-1 text-white translate-middle-x'>
                $999.999
            </h1>
        </div>
    </div>
</div>

</div>

<svg
    class='prev-price-card'
    height='91'
    viewBox='0 0 56.898 91'
    width='56.898'
    xmlns='http://www.w3.org/2000/svg'>
    <path
        d='M45.5,0,91,56.9,48.452,24.068,0,56.9Z'
        fill='#fff'
        transform='translate(0 91) rotate(-90)'/>
</svg>
<svg
    class='next-price-card'
    height='91'
    viewBox='0 0 56.898 91'
    width='56.898'
    xmlns='http://www.w3.org/2000/svg'>
    <path
        d='M45.5,0,91,56.9,48.452,24.068,0,56.9Z'
        fill='#fff'
        transform='translate(56.898) rotate(90)'/>
</svg>
<div
    class='price-trail'>
    <div
        class='price-box-low price-trail-active'>
        1
    </div>
    <div
        class='price-box-medium'>
        2
    </div>
    <div
        class='price-box-high'>
        3
    </div>
    <div
        class='price-box-ultra'>
        4
    </div>
    <div
        class='price-box-unstoppable'>
        5
    </div>
</div>
</div>

@functions
{
    string GetLinkForBuyButton(string tokenType) {
        var auth = User.Identity?.IsAuthenticated ?? false;
        return auth ? Url.Action("Buy", "Pricing", new {
                                                           tokenType
                                                       }) : Url.Action("SignIn", "Authentication");
    }
}


@section Scripts
{
    <script
        src='~/lib/GSAP/js/gsap-latest-beta.min.js'></script>
    <script
        src='~/lib/GSAP/js/CSSRulePlugin3.min.js'></script>
    <script
        src='~/js/pricing.js'></script>
}